# Ignore everything
*

# Unignore specific files and directories
!.gitignore       # Do not ignore the .gitignore file itself
!README.md        # Include README.md file (example)
!requirements.txt # Include requirements.txt file (example)
!Data_testing.ipynb
!data_transformation_datasci.py
!datavisualizer.py
!requirements.txt
!data_output_folder
!reference_data_set_generation.py


# Include specific directories or files (Example for 'src' folder)
!src/
!src/*.py
