certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cftime @ file:///Users/runner/miniforge3/conda-bld/cftime_1725400494529/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1727293549397/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1727206364217/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1725459207683/work
matplotlib==3.9.2
munkres==1.1.4
netCDF4 @ file:///Users/runner/miniforge3/conda-bld/netcdf4_1725450419472/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1725411805471/work/dist/numpy-2.1.1-cp312-cp312-macosx_11_0_arm64.whl#sha256=3c5747c1549e01d4a2dbf292c31b27d0ce2c91987108c28199c1e1691e69edbd
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1726878422361/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1726075096567/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1724327085606/work/dist/scipy-1.14.1-cp312-cp312-macosx_11_0_arm64.whl#sha256=9aa3ae0192a0b625891a89eabed8c779d6332696340b63e758b1b8ec6331516d
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1714494649443/work
setuptools==75.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1727986715493/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1724956150763/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1727140567071/work
wheel==0.44.0
